.experience{
    display: grid;
    grid-gap: 3%;
    min-width: 600px;
}
.experience p{
    letter-spacing: 1px;
}

.company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: right;
    font-size: 1.25rem;
    letter-spacing: -2px;
    font-weight: 900;
    font-family: arial;
    align-items: flex-end;
}

.tecnologyList{
    display: grid;
    -webkit-padding-start: 0;
    grid-template-columns:  repeat(5, 1fr);
    grid-gap: 0.25rem;
    max-width: 100%;
}

.tecnology{
    box-shadow: 0 1px 5px grey;
    margin: 7px;
    text-align: center;
}


.separator{
    background: black;
    box-shadow: var(--pri-sh), var(--sec-sh), var(--ter-sh);
    padding: 32px;
    color: var(--main-pr);
    border-radius: 50px;
}

