@font-face{
  font-family: 'Montserrat';
  src: url(./uploads/fonts/Montserrat-Regular.ttf) format('truetype');
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  padding: 14px 32px;
  max-width: 100%;
}

h1{
  font-size: 72px;
  text-align: right;
  border-bottom: 4px solid currentColor;
  color: #717393;
  margin: 0 0 72px 0;
}

ul{
  list-style: none;
  padding-left: 0;
}

article{
  padding: 14px;
  box-shadow: 0 1px 5px grey;
}

:global(.logo) {
  height: 80px;
}